<div id = "login-modal" ng-controller="UserController">
	
	<div class = "modal-content">
		<div class = "modal-header" align = "center">
			<img class = "img-circle"
			     id = "img_logo"
			     src = "images/logo.png">
			<button type = "button"
			        class = "close"
			        ng-click = "dismissModal()"
			        aria-label = "Close">
					<span class = "glyphicon glyphicon-remove"
					      aria-hidden = "true"></span>
			</button>
		</div>
		<div id = "div-forms">
			<form id = "login-form">
				<div class = "modal-body">
					<input id = "login_username"
					       class = "form-control"
					       type = "text"
					       placeholder = "Username"
					       ng-required
					       ng-model = "user.username"
							autofocus>
					<input id = "login_password"
					       class = "form-control"
					       type = "password"
					       placeholder = "Password"
					       ng-required
					       ng-model = "user.password">
				
				</div>
				<div class = "modal-footer">
					<div>
						<button type = "submit"
						        class = "btn btn-primary btn-lg btn-block"
						        ng-click = "logIn()">
							Login
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>